body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

.container{
    background-color: black;

}

h3{
    font-size: .5rem;

}

header{
    background-color: rgb(221, 213, 213);

}

.haeder-list{
    display: inline-block;
    text-align: center;
    
}
.main{
    width: 60%;
    margin: 30px auto 30px auto;

}